:root {
  --clr-main-green: #025c22;
  --clr-light-gray: #e4e3e3;
  --clr-dark: #3d3d3d;
  --clr-modal-overlay: rgba(104, 100, 100, 0.7);
  --clr-card-overlay: rgba(0, 51, 26, 0.4);

  --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);

  --primaryHeading-fs: clamp(2.5rem, 2vw, 10rem);
  --secondaryHeading-fs: clamp(1.8rem, 1.5vw, 7rem);
  --paragraph-fs: clamp(1.7rem, 1.5vw, 2.3rem);

  --font-bold: 700;

  --main-spacing: 10rem 0;
}
