@use '@/sass/abstracts' as *;

.inputContainer {
  @include flex-config($align: center);
  margin-left: 2rem;
}

.input {
  width: 4rem;
  font-size: 2.5rem;
  text-align: center;
  border: none;
}

.arrowLeft,
.arrowRight {
  font-size: 1.8rem;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
