.ctaBtn {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: var(--clr-light-gray);
  border: none;
  box-shadow: var(--box-shadow);
}

.green {
  background-color: var(--clr-main-green);
}

.blue {
  background-color: blue;
}
