@use '@/sass/abstracts' as *;

.modalCard {
  @include position($pos: absolute, $top: 50%, $left: 50%);
  transform: translate(-50%, -50%);
  background-color: var(--clr-main-green);
  color: var(--clr-light-gray);
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 21px 14px 19px -3px rgba(0, 0, 0, 0.1);
  z-index: 200;
}

.labelContainer {
  @include flex-config($justify: space-between);
  width: 100%;
  font-size: 1.5rem;
}

.search {
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  outline-color: var(--clr-light-gray);
}
