@use '@/sass/abstracts' as *;

.card {
  position: relative;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.cardHeading {
  @include position($pos: absolute, $top: 50%, $left: 50%);
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 2vw, 3rem);
  color: var(--clr-light-gray);
  letter-spacing: 0.3rem;
  text-align: center;
  background-color: rgba(1, 41, 21, 0.5);
  padding: 1rem;
}

.cardOverlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-card-overlay);
}
