@use '@/sass/abstracts' as *;

.card {
  @include flex-config($direction: column, $align: center, $justify: center);
  padding-top: 3rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);

  @include respond(md) {
    @include flex-config($direction: row, $justify: space-between);
    padding: 0 2rem;
  }
}

.cardImg {
  width: 30%;
}

.cardInfo {
  @include flex-config($direction: column, $align: center, $justify: center);
  height: 100%;

  @include respond(md) {
    width: 50%;
  }
}

.descriptionContainer {
  padding: 8rem;

  @include respond(md) {
    padding: 2rem;
  }
}

.productTitle {
  padding: 1rem 0;
}

.cta {
  @include flex-config($justify: center);
  padding: 2rem 0;

  @include respond(md) {
    justify-content: space-around;
  }
}

.inputContainer {
  @include flex-config($align: center);
  margin-left: 2rem;
}

.input {
  width: 5rem;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 2rem;
}
