@use '@/sass/abstracts' as *;

.card {
  @include flex-config($direction: column, $align: center, $justify: center);
  position: relative;
  padding: 5rem 1rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);

  @include respond(sm) {
    padding: 5rem 7rem;
  }
}

.cardImg {
  width: 30%;

  @include respond(md) {
    width: 40%;
  }
}

.cardInfo {
  @include flex-config($direction: column, $align: center, $justify: center);
  width: 100%;
  text-align: left;
}

.productTitle {
  padding: 1rem 0;
  text-align: center;
}

.productDescription {
  font-size: 1.5rem;
  flex: 1;
}

.flexible {
  flex: 1;
}

.ratingsContainer {
  position: relative;
  width: 100%;
  background-color: #505050;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.ratingContainer {
  position: relative;
  font-size: 1.5rem;
  text-align: start;
  margin-top: 2rem;
  padding: 1rem 0;

  &:after {
    @include pseudo($bottom: 0, $left: 0);
    width: 10rem;
    border-bottom: 1px solid var(--clr-dark);
  }
}

.rating {
  font-weight: var(--font-bold);
}

.price {
  font-size: 2rem;
  padding: 2rem 0;
}

.cta {
  @include flex-config($justify: space-between);
  width: 100%;
  padding: 2rem 0;

  @include respond(md) {
    justify-content: space-around;
  }
}

.cta {
  @include flex-config($justify: space-around);
}

.addedMsg {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  color: var(--clr-main-green);
  margin-top: 2rem;
}
