@use '@/sass/abstracts' as *;

.card {
  @include flex-config($direction: column, $align: center, $justify: center);
  padding-top: 3rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);

  @include respond(md) {
    @include flex-config($direction: row, $justify: space-between);
    padding: 0 2rem;
  }
}

.cardImg {
  width: 30%;
}

.cardInfo {
  @include flex-config($direction: column, $align: center, $justify: center);
  height: 100%;

  @include respond(md) {
    width: 50%;
  }
}

.descriptionContainer {
  padding: 8rem;

  @include respond(md) {
    padding: 2rem;
  }
}

.productTitle {
  padding: 1rem 0;
}

.cta {
  @include flex-config($justify: center);
  padding: 2rem 0;

  @include respond(md) {
    justify-content: space-around;
  }
}

.inputContainer {
  @include flex-config($align: center);
  margin-left: 2rem;
}

.input {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 2rem;
}

.ratingsContainer {
  position: relative;
  width: 100%;
  background-color: var(--clr-light-gray);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.ratings {
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--clr-main-green);
  padding: 1rem;
  border-radius: 1rem;
}

.ratingScore {
  position: relative;
  font-size: 1.5rem;
  text-align: start;
  padding: 1rem 0;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10rem;
    border-bottom: 1px solid black;
    background-color: red;
  }
}
