@use '@/sass/abstracts' as *;

.heroImgContainer {
  position: relative;
  min-height: 60vh;
  color: var(--clr-light-gray);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  position: relative;
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
  justify-content: center;
  margin: var(--main-spacing);
  text-align: center;
  padding: 0 1rem;

  @include respond(sm) {
    padding: 0;
  }
}

.loadingSpinner {
  @include position($pos: absolute, $top: 0, $left: 50%);
}
