@use '@/sass/abstracts' as *;

.heroImgContainer {
  position: relative;
  min-height: 60vh;
  color: var(--clr-light-gray);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroHeadings {
  @include position($pos: absolute, $top: 50%, $left: 50%);
  transform: translate(-50%, -50%);
  z-index: 500;
  text-align: center;
}

.primaryHeading {
  margin: 10rem 0;
  text-align: center;
}

.main {
  position: relative;
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 450px));
  justify-content: center;
  margin: 10rem 0;
  text-align: center;
}

.loadingSpinner {
  @include position($pos: absolute, $top: 0, $left: 50%);
}
