@use '@/sass/abstracts' as *;

.loadingSpinner {
  @include position($pos: absolute, $top: 20rem, $left: 50%);
}

.main {
  @include flex-config($direction: column, $align: center);

  @include respond(md) {
    min-height: 90vh;
    @include flex-config($direction: row, $justify: center);
  }
}

.social {
  @include position($pos: absolute, $right: 0, $top: 30%);
}

.imgContainer {
  @include flex-config($justify: center);
  width: 80%;
  padding: 10rem 0;
  margin-top: 2rem;
  z-index: 10;

  @include respond(md) {
    width: 40%;
    justify-content: flex-start;
    margin-top: 0;
  }
}

.img {
  width: 50%;
}

.productInfo {
  width: 70%;
  margin-top: 4rem;

  @include respond(md) {
    width: 30%;
    margin-top: 0;
  }
}

.title {
  font-size: clamp(1.8rem, 2vw, 3rem);
}

.description {
  font-size: 1.5rem;
  padding: 2rem 0;
}

.cta {
  @include flex-config($justify: space-between, $align: center);
  padding: 2rem 0;
}
