@use '@/sass/abstracts' as *;

.main {
  @include flex-config($direction: column, $align: center);
  /*  margin: var(--main-spacing); */
  padding-bottom: 10rem;

  @include respond(md) {
    @include flex-config($direction: row, $justify: center);
    min-height: 90vh;
    margin: var(--main-spacing);
  }
}

.social {
  @include position($pos: absolute, $right: 0, $top: 30%);
}

.imgContainer {
  @include flex-config($justify: center);
  width: 80%;
  padding: 10rem 0;
  z-index: 10;

  @include respond(md) {
    width: 40%;
    justify-content: flex-start;
    margin-top: 0;
  }
}

.img {
  width: 50%;
}

.productInfo {
  width: 70%;
  margin-top: 4rem;

  @include respond(md) {
    width: 45%;
    margin-top: 0;
  }
}

.title {
  font-size: var(--primaryHeading-fs);
}

.description {
  font-size: var(--paragraph-fs);
  padding: 2rem 0;
}

.price {
  font-size: var(--paragraph-fs);
  color: var(--clr-main-green);
  font-weight: var(--font-bold);
}

.cta {
  @include flex-config($justify: space-between, $align: center);
  padding: 2rem 0;
}
