@use '@/sass/abstracts' as *;

.heroImgContainer {
  position: relative;
  min-height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('@/assets/girl-fields.jpg');
  color: var(--clr-light-gray);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroHeadings {
  @include position($pos: absolute, $top: 50%, $left: 50%);
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 50;
  text-align: center;
}

.heroPrimaryHeading {
  font-size: var(--primaryHeading-fs);
  padding: 1rem 0;
  letter-spacing: 0.5rem;
}

.heroSubHeading {
  font-size: var(--secondaryHeading-fs);
  letter-spacing: 0.3rem;
}

.heroSubHeading {
  color: #82ff82;
}

.main {
  @include grid;
  position: relative;
  margin: var(--main-spacing);
}
