@use '@/sass/abstracts' as *;

.cartModal {
  @include position($pos: absolute, $top: 2%, $left: 50%);
  transform: translate(-50%, -2%);
  z-index: 2000;
  width: 90%;

  @include respond(md) {
    width: 50%;
  }

  @include respond(lg) {
    top: 15%;
    transform: translate(-50%, -15%);
  }
}
