@use '@/sass/abstracts' as *;

.header {
  position: relative;
}

.nav {
  @include flex-config($justify: space-between, $align: center);
  padding: 1rem 0;

  @include respond(sm) {
    @include flex-config(
      $direction: row,
      $justify: space-between,
      $align: center
    );
  }
}

.icons {
  @include flex-config($justify: space-around, $align: center);
}

.slideEnter {
  transform: translateY(-100%);
}

.slideEnterActive {
  transform: translateY(0);
  transition: transform 300ms;
}

.slideExitActive {
  transform: translateY(-100%);
  transition: transform 300ms;
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 500ms;
}

.fadeExitActive {
  opacity: 0;
  transition: opacity 500ms;
}
