@use '@/sass/abstracts' as *;

.nav {
  display: block;
  padding: 2rem 0;

  @include respond(sm) {
    @include flex-config($justify: space-between, $align: center);
  }
}

.navLinks {
  height: auto;
  margin-top: 2rem;

  @include respond(sm) {
    @include flex-config($direction: row, $align: center);
    width: 40%;
    margin-top: 0;
  }
}

.slideEnter {
  transform: translateY(-100%);
}
.slideEnterActive {
  transform: translateY(0);
  transition: transform 300ms;
}
.slideExitActive {
  transform: translateY(-100%);
  transition: transform 300ms;
}
