@use '@/sass/abstracts' as *;

.navLinks {
  @include position($pos: absolute, $top: 100%, $left: 0);
  width: 100%;
  height: auto;
  background-color: var(--clr-main-green);
  color: var(--clr-light-gray);
  padding: 2rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 1000;

  @include respond(sm) {
    @include flex-config(
      $direction: row,
      $justify: space-between,
      $align: center
    );
    position: initial;
    width: 40%;
    background-color: transparent;
    color: var(--clr-dark);
    padding: 0;
    border: none;
  }
}

.navLink {
  font-size: clamp(1.5rem, 1vw, 2rem);
  text-align: center;
  padding: 1rem;
  cursor: pointer;

  @include respond(md) {
    letter-spacing: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
  }
}

.activeLink {
  background-color: var(--clr-main-green);
  color: #f3c28a;

  @include respond(sm) {
    color: var(--clr-light-gray);
    border-radius: 5rem;
  }

  @include respond(md) {
    padding: 1rem 2rem;
  }
}
