@use '@/sass/abstracts' as *;

.heroCta {
  margin: 3rem 0;
  padding: 0 1rem;

  @include respond(sm) {
    padding: 0;
  }

  @include respond(md) {
    width: 50%;
  }
}

.heroHeading {
  font-size: var(--secondaryHeading-fs);
}

.heroSubHeading {
  font-size: var(--primaryHeading-fs);
}

.headingSpan {
  font-size: clamp(2.8rem, 2vw, 3.3rem);
  color: var(--clr-main-green);
  filter: drop-shadow(0 0 0.2rem var(--clr-main-green));
}

.heroParagraph {
  font-size: var(--paragraph-fs);
  padding: 2rem 0;
}

.swiperContainer {
  padding-bottom: 30rem;

  @include respond(md) {
    padding-bottom: 0;
  }
}

.social {
  @include position($pos: absolute, $top: 30%, $right: 0);
  z-index: 99;
}
