@use '@/sass/abstracts' as *;

.pagination {
  @include flex-config($justify: center);
  font-size: 2rem;
  margin: 10rem 0;
}

.paginationList {
  @include flex-config($align: center);
}

.pageItem {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  color: var(--clr-dark);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--clr-main-green);
}

.arrowLeft {
  margin-right: 1rem;
}

.arrowRight {
  margin-left: 1rem;
}

.activePage {
  background-color: var(--clr-main-green);
  color: var(--clr-light-gray);
}

.pageLink {
  color: var(--clr-main-green);
}
